/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Apply styles to the navigation bar */
.navbar {
    background-color: lightblue;
    overflow: hidden;
}

.navbar a {
    float: center;
    display: block;
    color: navy;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    font-style: bold;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}
